<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: darkkhaki">
<center>
    <form action="/login" method="POST">
        <input type="text" name="p" id="p" style="width:300px;height: 30px;" placeholder="Enter your registered password" required/><br/><br/>
        <button type="submit" value="login">Register</button>

    </form>
</center>

</body>
</html>